body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background-color: white;
  color: black;
}

#global_domain_bar
{
 
}

#global_domain_bar a
{
  background: url("img/pulse-16.png") no-repeat scroll 8px 7px #FFFFFF;
  color: #555753;
  float: right;
  font-size: 12px;
  margin: 15px 0;
  padding: 4px 12px 2px 26px;
  text-decoration: none;
  line-height: 1.7em;
}

#global_domain_bar div {
  max-width: 940px;
  margin: 0 auto;
}

#page
{
  background: url("img/html-bg.png") repeat-x scroll center top #FFFFFF;
  font-family: Cantarell,'Droid Sans',Ubuntu,'DejaVu Sans',Arial,sans-serif;
}

#content {
  margin: 2em;
  margin: .5em 3em;
  border-top: 1px dashed #ccc;
}

a
{
  color: #0489B7;
}

div.post-contents
{
  background: white;
}

.post-title a
{
  color: #0489B7;
  font-weight: bold;
}

#planet-banner
{
  margin-left: auto;
  margin-right: auto;
  clear: left;
  margin-top: 0;
  padding: 2em 0 0 2.7em;
}


#planet-subtitle
{
  color: #555753;
  font-size: 100%;
  font-weight: bold;
  margin: 0;
  padding: 0;
  padding-top: 14px;
}

#planet-logo
{
  vertical-align: middle;
  padding-bottom: 25px;
  margin-left:    26px;
  padding-right:  50px;
}

#footer {
  overflow: hidden;
  padding: 2em;
  background: none repeat scroll 0 0 #83AAD5;
  color: #fff;
}

#footer div {
  border-left: 1px solid #FFFFFF;
 float: left;
 min-height: 14em;
 padding: 0.5em 2em;
 width: 28%;
}

#footer div:first-child {
  background: url("img/volume.png") no-repeat scroll 2em bottom transparent;
}

#footer {
  font-size: .8em;
}

#footer h2 {
  margin: 0;
}

#footer ul {
  margin: .4em 0 0 .4em;
  list-style-type: none;
  padding: 0;
}

#footer ul li {
  margin-bottom: .2em;
}

#footer a
{
  color: inherit;
}

/* Minor fix for fancybox */
div#fancy_title table td {
  border: none;
}
